html {
  color-scheme: dark light;
}
body {
  max-width: 40em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
  font-family: system-ui, sans-serif;
}
li {
  margin-bottom: 0.25em;
}
.site-header {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 1em;
  align-items: center;
}
.site-title {
  flex: 1;
  font-size: 150%;
}
nav ul, footer ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav ul li, footer ul li {
  display: inline-block;
}
nav ul li:not(:last-child), footer ul li:not(:last-child) {
  margin-right: 1.25em;
}
main {
  padding-bottom: 1em;
}
footer {
  border-top: 1px solid;
}
footer ul {
  padding-top: 0.5em;
}
.blog-list {
  list-style: none;
}
.blog-list li {
  margin-bottom: 1em;
}
.list-post-title {
  font-size: 120%;
}
